/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, #search button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, #search button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, #search button:focus {
  outline: none;
}

/* line 27, ../../app/stylesheets/screen.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica", Arial, sans-serif;
  letter-spacing: normal;
  font-size: 87.5%;
}
/* line 23, ../../app/stylesheets/partials/_typography.scss */
body body {
  font-family: "Helvetica", Arial, sans-serif;
}
/* line 24, ../../app/stylesheets/partials/_typography.scss */
body #info h1, body #info h2, body #info h3, body #info h4 {
  font-family: "Cabin", "Helvetica", Arial, sans-serif;
}
/* line 30, ../../app/stylesheets/partials/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
}
/* line 32, ../../app/stylesheets/partials/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 33, ../../app/stylesheets/partials/_typography.scss */
body h1 {
  font-size: 2.4em;
  line-height: 1.8;
  margin-bottom: 0.50em;
}
/* line 34, ../../app/stylesheets/partials/_typography.scss */
body h2 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 0.75em;
}
/* line 35, ../../app/stylesheets/partials/_typography.scss */
body h3 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 1.00em;
}
/* line 36, ../../app/stylesheets/partials/_typography.scss */
body h4 {
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 37, ../../app/stylesheets/partials/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 38, ../../app/stylesheets/partials/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 39, ../../app/stylesheets/partials/_typography.scss */
body p {
  font-size: 1em;
  font-family: "Helvetica", Arial, sans-serif;
}
/* line 40, ../../app/stylesheets/partials/_typography.scss */
body a {
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;
}
/* line 41, ../../app/stylesheets/partials/_typography.scss */
body blockquote {
  margin: 1.5em;
  font-style: italic;
}
/* line 42, ../../app/stylesheets/partials/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 43, ../../app/stylesheets/partials/_typography.scss */
body em {
  font-style: italic;
}
/* line 44, ../../app/stylesheets/partials/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 45, ../../app/stylesheets/partials/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 46, ../../app/stylesheets/partials/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px;
}
/* line 47, ../../app/stylesheets/partials/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 48, ../../app/stylesheets/partials/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 49, ../../app/stylesheets/partials/_typography.scss */
body pre, body code, body tt {
  font: 1em "Helvetica", Arial, sans-serif;
  line-height: 1.5;
}
/* line 50, ../../app/stylesheets/partials/_typography.scss */
body li ul, body li ol {
  font-size: 0.8em;
  margin: 0;
}
/* line 51, ../../app/stylesheets/partials/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 52, ../../app/stylesheets/partials/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 53, ../../app/stylesheets/partials/_typography.scss */
body dd {
  margin-left: 1.5em;
}

/* line 30, ../../app/stylesheets/screen.scss */
#header, #footer, #info, #search, #content-container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}

/* line 35, ../../app/stylesheets/screen.scss */
#header h1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header h1 {
  overflow-x: hidden;
}
/* line 36, ../../app/stylesheets/screen.scss */
#header ul {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header ul {
  overflow-x: hidden;
}

/* line 39, ../../app/stylesheets/screen.scss */
#info .section {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #info .section {
  overflow-x: hidden;
}
/* line 40, ../../app/stylesheets/screen.scss */
#info .section.double {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-right: 0;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #info .section.double {
  overflow-x: hidden;
}
/* line 41, ../../app/stylesheets/screen.scss */
#info .left, #info .right {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #info .left, * html #info .right {
  overflow-x: hidden;
}

/* line 45, ../../app/stylesheets/screen.scss */
#search h3 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #search h3 {
  overflow-x: hidden;
}
/* line 46, ../../app/stylesheets/screen.scss */
#search input {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #search input {
  overflow-x: hidden;
}

/* line 50, ../../app/stylesheets/screen.scss */
#content-container .title-header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content-container .title-header {
  overflow-x: hidden;
}
/* line 51, ../../app/stylesheets/screen.scss */
#content-container .link-header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content-container .link-header {
  overflow-x: hidden;
}
/* line 51, ../../app/stylesheets/screen.scss */
#content-container .link-header a {
  overflow: hidden;
  *zoom: 1;
}

/* line 59, ../../app/stylesheets/screen.scss */
#header-frame {
  background: black;
  color: white;
}

/* line 65, ../../app/stylesheets/screen.scss */
#header {
  padding-top: 10px;
}
/* line 65, ../../app/stylesheets/screen.scss */
#header h1 {
  margin: 0;
}

/* line 68, ../../app/stylesheets/screen.scss */
#header ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  color: white;
}
/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul li:first-child, #header ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul li.last {
  padding-right: 0;
}
/* line 72, ../../app/stylesheets/screen.scss */
#header ul li {
  margin: 12px 0px 0 35px;
}
/* line 74, ../../app/stylesheets/screen.scss */
#header ul li a {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}
/* line 76, ../../app/stylesheets/screen.scss */
#header ul li:hover a {
  color: red;
}
/* line 78, ../../app/stylesheets/screen.scss */
#header ul .selected a {
  color: red;
}

/* line 82, ../../app/stylesheets/screen.scss */
#info {
  padding-bottom: 20px;
  color: white;
}
/* line 84, ../../app/stylesheets/screen.scss */
#info hr {
  border: none 0;
  height: 1px;
  border-bottom: dashed 1px #376b6b;
  margin-right: 20px;
}
/* line 86, ../../app/stylesheets/screen.scss */
#info h2 {
  color: #376b6b;
  font-size: 2.8em;
  margin: 0;
  text-align: center;
}
/* line 87, ../../app/stylesheets/screen.scss */
#info h3 {
  font-size: 3.6em;
  text-align: center;
  margin: 0;
  text-align: center;
}
/* line 88, ../../app/stylesheets/screen.scss */
#info .section {
  padding-top: 10px;
  background: url("/images/help.png") 95% 2% no-repeat;
  border-left: dashed 1px #376b6b;
}
/* line 91, ../../app/stylesheets/screen.scss */
#info .section:hover {
  background: url("/images/help_hover.png") 95% 2% no-repeat;
}
/* line 92, ../../app/stylesheets/screen.scss */
#info .section h2 {
  color: #376b6b;
  font-size: 3.8em;
  margin: 0;
  line-height: 1;
  letter-spacing: 0.2em;
}
/* line 93, ../../app/stylesheets/screen.scss */
#info .section h3 {
  font-size: 2.2em;
  text-align: center;
  margin: 0;
  color: #376b6b;
}
/* line 95, ../../app/stylesheets/screen.scss */
#info .section p {
  padding: 0 20px;
  color: #376b6b;
}
/* line 96, ../../app/stylesheets/screen.scss */
#info .section h4 {
  padding: 0 20px;
  font-size: 1.2em;
  color: #376b6b;
  margin: 0;
}
/* line 98, ../../app/stylesheets/screen.scss */
#info .double {
  border: none;
  background: none;
}
/* line 101, ../../app/stylesheets/screen.scss */
#info .double:hover {
  background: none;
}
/* line 102, ../../app/stylesheets/screen.scss */
#info .double h2 {
  color: #73dada;
  font-size: 3.6em;
  margin: 0;
}
/* line 103, ../../app/stylesheets/screen.scss */
#info .double h3 {
  font-size: 2.2em;
  text-align: center;
  margin: 0;
  color: white;
}
/* line 104, ../../app/stylesheets/screen.scss */
#info .double h4 {
  padding: 0 20px;
  font-size: 1.6em;
  color: #376b6b;
  margin: 0;
}

/* line 109, ../../app/stylesheets/screen.scss */
#info-frame {
  background: #56a8a8;
}

/* line 110, ../../app/stylesheets/screen.scss */
#search-frame {
  background: #78bebe;
}

/* line 111, ../../app/stylesheets/screen.scss */
#footer-frame {
  background-color: #27282b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #27282b), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #27282b, #000000);
  background-image: -moz-linear-gradient(top, #27282b, #000000);
  background-image: -o-linear-gradient(top, #27282b, #000000);
  background-image: linear-gradient(top, #27282b, #000000);
}

/* line 114, ../../app/stylesheets/screen.scss */
#search {
  padding: 20px 0;
}
/* line 116, ../../app/stylesheets/screen.scss */
#search h3 {
  padding-top: 5px;
  font-size: 1.4em;
  text-align: center;
  margin: 0;
  color: #376b6b;
}
/* line 117, ../../app/stylesheets/screen.scss */
#search input {
  padding: 10px 40px;
  font-size: 16px;
}
/* line 118, ../../app/stylesheets/screen.scss */
#search button {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545454), color-stop(10%, #262626), color-stop(50%, #080808), color-stop(50%, #000000), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(#545454, #262626 10%, #080808 50%, #000000 50%, #1a1a1a);
  background-image: -moz-linear-gradient(#545454, #262626 10%, #080808 50%, #000000 50%, #1a1a1a);
  background-image: -o-linear-gradient(#545454, #262626 10%, #080808 50%, #000000 50%, #1a1a1a);
  background-image: linear-gradient(#545454, #262626 10%, #080808 50%, #000000 50%, #1a1a1a);
  border-color: black;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
#search button, #search button:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
#search button:hover, #search button:focus {
  background-color: red;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa9a9), color-stop(10%, #fe4d4d), color-stop(50%, #ef0101), color-stop(50%, #e00101), color-stop(100%, #fe1515));
  background-image: -webkit-linear-gradient(#ffa9a9, #fe4d4d 10%, #ef0101 50%, #e00101 50%, #fe1515);
  background-image: -moz-linear-gradient(#ffa9a9, #fe4d4d 10%, #ef0101 50%, #e00101 50%, #fe1515);
  background-image: -o-linear-gradient(#ffa9a9, #fe4d4d 10%, #ef0101 50%, #e00101 50%, #fe1515);
  background-image: linear-gradient(#ffa9a9, #fe4d4d 10%, #ef0101 50%, #e00101 50%, #fe1515);
  border-color: #b20101;
  text-shadow: maroon 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
#search button:hover, #search button:hover:visited, #search button:focus, #search button:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
#search button:active {
  background-color: #3d7c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d6e0e), color-stop(30%, #427710), color-stop(50%, #38650d), color-stop(50%, #30570b), color-stop(100%, #519213));
  background-image: -webkit-linear-gradient(#3d6e0e, #427710 30%, #38650d 50%, #30570b 50%, #519213);
  background-image: -moz-linear-gradient(#3d6e0e, #427710 30%, #38650d 50%, #30570b 50%, #519213);
  background-image: -o-linear-gradient(#3d6e0e, #427710 30%, #38650d 50%, #30570b 50%, #519213);
  background-image: linear-gradient(#3d6e0e, #427710 30%, #38650d 50%, #30570b 50%, #519213);
  border-color: #172a06;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #264509 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #264509 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #264509 0 0.08em 0.1em 1px inset;
  box-shadow: #264509 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p0@rails3/gems/fancy-buttons-1.1.1/lib/stylesheets/_fancy-buttons.sass */
#search button:active, #search button:active:visited {
  color: white;
}

/* line 127, ../../app/stylesheets/screen.scss */
#content-container .title-header, #content-container .link-header {
  height: 2.5em;
}
/* line 128, ../../app/stylesheets/screen.scss */
#content-container .title-header a, #content-container .title-header h3, #content-container .link-header a, #content-container .link-header h3 {
  line-height: 2.5em;
  padding-left: 20px;
  margin: 0;
}
/* line 129, ../../app/stylesheets/screen.scss */
#content-container .title-header {
  font-weight: normal;
  color: white;
  background: #27282b;
}
/* line 131, ../../app/stylesheets/screen.scss */
#content-container .link-header {
  text-alignment: center;
  font-weight: normal;
  color: white;
  background: black;
  margin-left: -8px;
}

/* line 138, ../../app/stylesheets/screen.scss */
#footer {
  color: white;
  padding: 20px 0;
}
/* line 141, ../../app/stylesheets/screen.scss */
#footer a {
  color: white;
}
/* line 141, ../../app/stylesheets/screen.scss */
#footer a:hover {
  color: red;
}
