// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

@import "partials/typography";
@import "compass/css3";
@import "fancy-buttons";
@import "compass/utilities/lists";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.

// The grid
body{
   @include typography();
   background:black;
}
#content{
  background:white;
}
#header,#footer,#info,#search,#content-container {
  @include container;
  @include clearfix;
}
#header{
  h1{@include column(8);}
  ul{@include column(12);}
}
#info{
  .section {@include column(6);@include last;}
  .section.double {@include column(12);@include last;}
  .left,.right{@include column(6);}
  .right{@include last;}
}

#search{
  h3{@include column(3);}
  input{@include column(8);}
}

#content-container{
    .section{
      @include container;
      .info-container{@include column(24);}
      .section-content{@include column(24);}
      .title-header,.title{@include column(20);}
      .link-header,.budget{@include column(4);@include clearfix;@include last}
      .short{@include column(7);}
      .programs li{@include clearfix;@include column(24);}
      }
    .section.left,.section.right {
      @include column(11);
      .section-content{@include column(11);}
      .title-header{@include column(7);}
      .link-header{@include column(4);@include last;}
      }
      .section.left{@include append(2);}
      .section.right{@include last;}
  }

//TYPOGRAPHY


//HEADER

#header-frame{
  background: $header-color;
  color:white;
  //border-bottom: 2px solid $fs-light-color;
}

#header{padding-top:10px;h1{margin:0;}}

#header{
  ul{
    @include horizontal-list;
    color:white;

    li{
      margin:12px 0px 0 35px;
      a{text-decoration:none;font-size:1.4em;color:white;}

      &:hover{a{color:red;}}
    }
    .selected{a{color:red;}}
  }
}

#info{
  padding:20px 0;
  a{}
  hr{border: none 0;height: 1px; border-bottom: dashed 1px $fs-dark-color;margin-right:20px;}
  color:white;
  h2{
    color:$fs-dark-color;
    font-size:2.8em;
    margin: 0;
    text-align:center;
    a{text-decoration:none;color:$fs-dark-color;;
      border-bottom:1px solid $fs-dark-color;
      &:hover{color:$fs-light-color;border-bottom:1px solid $fs-light-color ;};;}}
  h3{font-size:3.6em;text-align:center;margin:0;text-align:center;}
  .section{
    padding-top:10px;
    background: url("/images/help.png") 95% 2% no-repeat;
    &:hover {background: url("/images/help_hover.png") 95% 2% no-repeat;}
    h2{color:$fs-dark-color;font-size:3.8em;margin: 0;line-height:1;letter-spacing:0.2em;}
    h3{font-size:2.2em;text-align:center;margin:0;color:$fs-dark-color;}
    border-left: dashed 1px $fs-dark-color;
    p{padding:0 20px;color:$fs-dark-color;}
    h4{padding:0 20px;font-size:1.2em;color:$fs-dark-color;margin:0;}}


  .double{
    border:none;
    background:none;
    &:hover{background:none;}
    h2{color:$fs-light-color;font-size:3.6em;margin: 0;}
    h3{font-size:2.2em;text-align:center;margin:0;color:white;}
    h4{padding:0 20px;font-size:1.6em;color:$fs-dark-color;margin: 0;}
    }

}

#info-frame{background: $info-color;}
#search-frame{background: $search-color;}
#footer-frame{background-color:$footer_color;@include linear-gradient(color-stops($footer_color, black))}

//SEARCH_BAR
#search{
  padding:20px 0;
  h3{padding-top:5px;font-size:1.4em;text-align:center;margin:0;color:$fs-dark-color;}
  input{padding: 10px 40px;font-size: 16px;}
  button{
    margin-left:20px;
    margin-top:5px;
    @include fancy-button-structure(18px, 0em, 1px);
    @include fancy-button-colors(#000, #fe0101, #fe0101);}
  }
.even{background:#ddd;}
//Content container
#content-container{
  padding:20px 0;
  .section{padding:20px 0;}
  h2{font-weight:normal;font-size:2em;}
  .title-header,.link-header{height:40px;@include clearfix;}
  .title-header,.link-header{a,h3,p{text-decoration:none;font-weight:normal;line-height:40px;margin:0;}h3,p{padding-left:20px;}}
  .title-header{font-weight:normal;color:white;background:$footer-color;}
  .link-header{
    text-align:center;
    font-weight:normal;
    color:white;
    background:black;
    &:hover {background:red;}
    }
  .link-header a{display: block;color: white;}
  .link-header span{font-size:120%;line-height:40px;}
#content-container.budget{.link-header{text-align:right}}

  //content of the section
  .section-content{
    ol{
      list-style-type:none;
      li{border-bottom: solid 1px #eee;@include clearfix;padding:20px 0;
        a{color:black;&:hover{color:red;};padding:0 20px;display:block;}
        p{text-align:right;padding:0 20px;}}
    }
  }
  .programs li, .projects li{
    list-style-type:none;

  }
  //info-container
  .info-container{}

}
//GRAPH
#graph_container{margin:40px;}
//TABLE
table{
  a{color:black;
    &:hover{color:red;}}
  th{min-width:120px;}
  td,th{padding:10px;}
  .header{background:$footer-color;color:white;}
}
//ORGANIZATIONS
  .programs {
    .title{font-weight:bold;}
    .budget{font-weight:bold;}
    .budget{text-align:right;}
    li{
    padding:10px 0;
    .title span{padding-left: 20px;display:block;}
    .budget span{padding-right: 20px;}
    ul li{border:none;}
    }
    .projects{
      .title,.budget{border:none;font-weight:normal;}.even{background:#eee;}}
  }
.section-content .projects{
  .budget{text-align:right;}
  li{padding:10px 0;@include clearfix;}
  .title p,span,a{padding-left: 20px;display:block;color:black;}
  .title a{&:hover{color:red;};}
  .budget span{padding-right: 20px;}
  .even{background:#eee;}
}

//Footer container
#footer{
  color:white;
  padding:20px 0;
  a{color:white;&:hover{color:red;}}

}






