.title-header
  %h3 Top proyectos
.link-header
  %a Ir a proyectos
.section-content
  %ol
    - Project.top_by_year(year, 5).each do |project|
      %li{ :class => cycle('even', 'odd')}
        = link_to project.try(:title), '#'
        %p.budget= number_to_currency(project.budget, :unit => 'euros', :format => '%n %u')
