.title-header
  %h3 Top entidades
.link-header
  = link_to 'Ir a entidades', organizations_path
.section-content
  %ol
    - Organization.top_by_year(year, 5).each do |organization|
      %li{ :class => cycle('odd', 'even')}
        = link_to organization.try(:name), organization
        %p.budget= number_to_currency(organization.budget(year), :unit => 'euros', :format => '%n %u')
