#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container
  %h2 Organizaciones 2011
  %ul.organizations
    - collection.each do |organization|
      %li
        %span= organization.cif
        =link_to(organization.name,organization)
