#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container
  %h2 Organizaciones y finanaciación recibida por año
  %table.organizations
    %tr.header
      %th CIF
      %th Entidad
      - Year.all.reverse.each do |y|
        %th= y.year
      %th Total
    - collection.each do |organization|
      %tr
        %td= organization.cif
        %td=link_to(organization.name,organization)
        - Year.all.reverse.each do |y|
          %td= number_to_currency(organization.budget_for_year(y), :unit => '€', :format => '%n %u')
        %td= number_to_currency(organization.budget, :unit => '€', :format => '%n %u')