#info-frame
  #info
    %h2 En <span>2011</2011> se repartieron para fines sociales entre <a>1000</a> proyectos y <a>200</a> organizaciones un total de
    %h3 260 millones de euros
    %hr
    .section.double
      .left
        %h2 78%
        %h3 200 m. €
        %h4 Proyectos sociales
      .right
        %p El Ministerio de Sanidad y Política social distribuye este dinero, que cada año se adjudica y se publica en el BOE. Más información aquí.
    .section
      %h2 19%
      %h3 200 m. €
      %h4 Proyectos de cooperación en paises de desarrollo
    .section
      %h2 19%
      %h3 200 m. €
      %h4 Proyectos de cooperación en paises de desarrollo
#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container
  /FIXME: year + 1 WTF?
  %h2== Proyectos sociales #{@year.year + 1}
  .section
    .title-header
      %h3 Colectivos
    .link-header
      %a Ir a colectivos
    .content Aqui va contenido<br/>guay<br/>

  .section.left
    = render 'organizations/top_five', :year => @year

  .section.right
    = render 'projects/top_five', :year => @year
